nav ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    padding:10px ;
    

}
nav ul li{
    margin: auto;
}
ul button{
    width: 60px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;

}