.user-container{
    border-radius: 10px;
    background-color: #eee;
    height:80vh;
    color: #152238;
    margin: 0.85em;
    cursor: pointer;
    padding: 10px;
    transition: all 0.25s ease-out ;
    
}
.user-container:hover{
    background-color: rgba(0,0,0,0.3);
    color : #eee;
}

@media screen and (min-width : 650px){
    .user-container{
        margin: 3px ;
        padding: 10px;
        height: 75vh;
        overflow: hidden;
    }
}

.user-container div{
    text-align: center;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-container div p{
    font-size: 20px;
    font-weight: 700;
    color: gray;
    word-wrap: break-word;
    word-break: break-all;
}
.user-container div h2:hover{
    color: #eee;
}
.user-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 2s ease;
}
.user-img:hover{
    transform: scale(1.1);
}
.user-img-container{
    overflow: hidden;
    height: 100%;
}

